<div>
    <div class="container-fluid">

        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                <div class="sidenavbar1">
                    <div
                        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline"><i class="fa fa-home"></i> Application</span>
                        </a>
                        <ul class="nav w-100 nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu">
                            <li class="nav-item w-100">
                                <a routerLink="currency" class="nav-link align-middle px-0">
                                    <span class="sidebartext"> <i class="fa fa-money"></i> Currency
                                        Converter</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a routerLink="stopwatch" class="nav-link align-middle px-0">
                                    <span class="sidebartext"> <i class="fa fa-clock-o"></i> StopWatch
                                    </span> </a>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-auto col-md-9 col-xl-10 px-sm-2 px-0 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>